GEMobileApp/GEMobileApp.xcworkspace/xcuserdata/Eric.xcuserdatad/UserInterfaceState.xcuserstate
GEMobileApp/Pods/Pods.xcodeproj/xcuserdata/Eric.xcuserdatad/xcschemes/xcschememanagement.plist
*davidmattia*
